@import 'elements';

body {
    background-color: #f8f8f8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #626262;
    font-family: Helvetica, Arial, serif;
}

.card {
    margin-bottom: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    .box-shadow(0px 4px 25px 0px rgba(0, 0, 0, 0.1));

    .card-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: none;
        padding: 1.5rem 1.5rem 0;
        background-color: transparent;
        font-weight: bold;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.5rem;
    }
}

.help {
    font-size: 13px;
    color: #999;
    line-height: 19px;

    ul {
        padding-left: 15px;
    }
}

.help-links {

    list-style: none;
    padding: 0;
    margin-top: 7px;

    li {
        margin-bottom: 10px;

        a {
            font-size: 16px;
            color: #999;
            line-height: 19px;
            text-decoration: none;
            .alltran(0.3s);

            &:hover {
                color: #7367f0;
            }
        }

    }

}

.pills-radio {

    .pill-header {
        font-size: 12px;
        margin-bottom: 4px;
        color: #666;
        margin-left: 9px;
    }

    .ui-radio {
        display: flex;

        .ui-radio-variant {
            margin: 0 2px;
        }
    }
}

#chart-table {
    overflow-x: auto;
}
