.ui-radio .ui-radio-variant input {
  display: none;
}
.ui-radio .ui-radio-variant input:checked + label {
  background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
  -webkit-box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  -moz-box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  color: white;
  border-color: transparent;
}
.ui-radio .ui-radio-variant label {
  display: block;
  border: 1px solid #ddd;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  padding: 5px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.ui-radio .ui-radio-variant label:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  -moz-box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
  box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
}
.ui-filedrop .dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}
.ui-filedrop .dropzone .dz-message {
  font-weight: 400;
}
.ui-filedrop .dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}
.ui-button.btn-primary {
  border-color: #4839eb !important;
  background-color: #7367f0 !important;
  color: #fff;
  border: none;
}
.ui-button.btn-primary:hover {
  border-color: #5e50ee !important;
  color: #fff !important;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
  -moz-box-shadow: 0 8px 25px -8px #7367f0;
  box-shadow: 0 8px 25px -8px #7367f0;
}
