@import 'elements';

.ui-radio {

    .ui-radio-variant {

        input {
            display: none;

            &:checked + label {
                background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
                .box-shadow(0 0 10px 1px rgba(115, 103, 240, 0.7));
                color: white;
                border-color: transparent;
            }
        }

        label {
            display: block;
            border: 1px solid #ddd;
            .rounded(9px);
            padding: 5px 15px;
            cursor: pointer;
            .alltran(0.3s);

            &:hover {
                .box-shadow(0 0 10px 1px rgba(115, 103, 240, 0.7));
            }
        }
    }
}

.ui-filedrop {
    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .dropzone .dz-message {
        font-weight: 400;
    }
    .dropzone .dz-message .note {
        font-size: 0.8em;
        font-weight: 200;
        display: block;
        margin-top: 1.4rem;
    }
}

.ui-button {
    &.btn-primary {
        border-color: #4839eb !important;
        background-color: #7367f0 !important;
        color: #fff;
        border: none;

        &:hover {
            border-color: #5e50ee !important;
            color: #fff !important;
            .box-shadow(0 8px 25px -8px #7367f0);
        }
    }
}